{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center;">Pacientes de la fundación</h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            {% for paciente in pacientes %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{paciente.nombre}}</h5>
                    <p class="card-text">{{paciente.apellido_paterno}}</p>
                    <a href="/paciente/{{ paciente.id}}" class="card-link">Ir</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="text-align: center; margin: 10px;">
        <a class="btn btn-primary btn-lg" href="/paciente/create/" role="button">Agregar Paciente</a>
    </div>
{% endblock %}